/* Shiny */
.container-fluid {
  padding: 0px;
  margin: 0px;
}

/* Leaflet */
/* Maps */
.leaflet-popup-content {
  width: max-content !important;
}

/* Popup */
.popup-title {
  margin: 0px;
}

.flag {
  width: 50px;
  margin-right: 5px;
  vertical-align: text-top;
}

.grid-four-text {
  display: grid;
  grid-template-columns: auto 180px auto 180px;
}

.grid-four-img {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.info-div {
  margin: 3px 10px 3px 10px;
}

.info-title {
  color: #a5a5a5;
  margin: 0px;
  font-size: small;
  line-height: 15px;
}

.info-content {
  color: #3e3e3e;
  margin: 0px;
  font-size: medium;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-content-hover {
  position: relative;
}

.info-content-hover:before {
  content: attr(data-hover);
  width: fit-content;
  visibility: hidden;
  opacity: 0;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.info-content-hover:hover:before {
  opacity: 1;
  visibility: visible;
}

.mechanism-div {
  padding: 5px 10px;
  height: 50px;
  border-radius: 15px;
}

.mechanism-title {
  display: inline;
  line-height: 40px;
  margin-left: 10%;
  color: white;
}

.mechanism-icon {
  width: 40px;
  float: right;
  margin-right: 10%;
  filter: invert(1);
}

.direction-div {
  text-align: center;
}

.direction-icon {
  width: 70px;
}

.direction-number {
  font-size:; 15px;
}

/* Cards */
.pathway-grid {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  margin: 10px auto;
  background-color: #efefef73;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
}

.pathway-card {
  margin: 5px;
  padding: 5px;
  position: relative;
  float: left;
  border-radius: 15px;
  transition: top ease 0.5s;
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
}

.pathway-card:hover {
  filter: brightness(0.95);
  top: -3px;
}

.pathway-title {
  color: #ffffff;
  text-align: right;
  position: absolute;
  bottom: 0%;
  right: 1em;
  font-size: 9px;
}

.pathway-icon {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 35%;
  filter: invert(1);
}

/* Glide */
.glide-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.glide-control {
  background: #d3d3d3;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
}

.glide__slides {
  white-space: inherit;
}

.glide__arrows {
  margin-right: 10px;
  margin-left: 10px;
}

/* absolute panel */
#controls {
  background-color: white;
  margin: 10px auto;
  padding: 20px;
  cursor: move;
  opacity: 0.65;
  transition: opacity 500ms 1s;
  border-radius: 15px;
}

#controls:hover {
  opacity: 0.95;
  transition-delay: 0;
}

.absolute-panel-header {
  display: flex;
}

.absolute-panel-fifty{
  width: 50%;
}

.absolute-panel-text{
  margin: 5px 10px 5px 0px;
}

.absolute-panel-img{
  width: 45px;
}

.vote-count-plot {
  border: solid 1px grey;
  border-radius: 10px;
  padding: 5px;
  margin-top: 15px
}

.vote-count-show-more {
  margin: 10px 5px;
  cursor: pointer;
}

.vote-subplot-div {
  width: fit-content;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  margin: 10px auto;
  padding: 20px;
  position: absolute;
  bottom: 30px;
  left: 0;
}

.vote-subplot-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: black;
}
